body{
  position: relative;
  background-color: hsl(210, 46%, 95%);
}

#container{
  position: relative;
  display: flex;
  width:800px;
  height: 300px;
  background-color: white;
  left: 20%;
  top: 175px;
}

#container-info{
  width: 400px;
  margin: 20px 20px 20px 40px;
}

#container-info h2{
  color:  hsl(214, 17%, 51%);
}

#container-info p{
  color: hsl(212, 23%, 69%);
}

#container-image img{
  width: 350px;
  height: 300px;
}

#user-profile{
  position: relative;
  display: flex;
  
}

#user-info{
  position: relative;
  margin-left: 20px;
  top: -13px;
}

#user-info h5{
  margin-bottom: 0px;
  color:  hsl(214, 17%, 51%);
}

#user-info p{
  margin-top: 0px;
  color: hsl(212, 23%, 69%);
}

#user-profile img{
  width: 50px;
  border-radius: 50%;
}

#share-button button{
  position: relative;
  border-radius: 50%;
  border-style: none;
  width: 30px;
  height: 30px;
  right: -150px;
  top: 10px;
  
}

#share-button button img{
  width: 10px;
  height: 10px;
  
}

#social-media{
  position: absolute;
  display: flex;
  background-color: hsl(217, 19%, 35%);
  width: 200px;
  height: 55px;
  z-index: 1;
  right: -60px;
  top: -80px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  visibility:collapse;
}

#social-media p{
  margin-right: 15px;
  margin-left:10px;
}

.socials-icon{
  position: relative;
  border-radius: 50%;
  border-style: none;
  height: 25px;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  top: 8px;
  background-color: hsl(212, 23%, 69%);

}